body {
  font-family: "Archivo Black", sans-serif;
}

.height {
  min-height: 70vh;
}

.title-underline {
  width: 200px;
  height: 5px;
  margin: 0 auto;
}

.about-picture {
  background: url(../img/pexels-photo-1061588.jpeg) center/cover no-repeat fixed;
}
